@import "~normalize.css";

body {
  color: #333;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 2rem;
}

#columns-container {
  display: flex;
}

.column-header  {
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.column {
  margin-right: 2em;
  width: 300px;
  box-sizing: border-box;
}

.card {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 16px;
  border-radius: 6px;
  margin-bottom: 0.5em;
  height: 4em;
}

.card-content {
  padding-right: 1em;
}

.card-closer {
  font-size: 24px;
  margin-top: -5px;
  color: #999;
  height: 32px;
  visibility: hidden;
}

.card-closer:hover {
  cursor: pointer;
}

.add-link {
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.add-container {
  margin-top: 1em;
  cursor: pointer;
}

.add-container:hover {
  color: blue;
}

.add-input  {
  box-sizing: border-box;
  width: 100%;
  height: 4em;
  background-color: #fff;
  padding: 16px;
  border-radius: 6px;
  border: none;
}

.add-input:focus {
  border: none;
}

.add-button {
  box-sizing: border-box;
  background-color: green;
  color: #fff;
  padding: 10px 16px;
  margin-top: 4px;
  border-radius: 6px;
  border: none;
}

.shadow-active {
  box-shadow: #333;
}

.add-form {
  display: none;
}

.dragged {
  cursor: move;
}

